.header {
    background-color:#610000;
    color: #ffffff;
    padding: 1.5rem;
    text-align: center ;
}
.grid-container {
display: grid ;
grid-template-columns: repeat(auto-fit, minmax(300px 1fr));
gap: 20px;
padding: 2%;
}
.grid-item {
    border: 1px solid #610000;
    padding: 1rem;
}
.footer{
    background-color: #610000;
    color: #ddd;
    text-align: center;
    padding: 1rem;
}
h1{
    text-align: center;
}